---
# Homepage configuration
# See https://fontawesome.com/v5/search for icons options

title: "App dashboard"
subtitle: "Homer"
logo: "assets/logos/dark_circle.png"

header: true

columns: "auto"
connectivityCheck: true

defaults:
  layout: columns
  colorTheme: dark

stylesheet:
  - "assets/catppuccin-mocha.css"

services:

  - name: "Infrastructure"
    icon: "fas fa-tools"
    items:
      - name: "Portainer"
        logo: "assets/logos/portainer.png"
        url: "https://{{ inventory_hostname }}:9443/"

  - name: "Monitoring"
    icon: "fas fa-binoculars"
    items:
      - name: "Grafana"
        logo: "assets/logos/grafana.png"
        url: "http://{{ inventory_hostname }}:3000/dashboards"

      - name: "Prometheus"
        logo: "assets/logos/prometheus.png"
        url: "http://{{ inventory_hostname }}:9090/alerts"

  {% if inventory_hostname in groups.media %}

  - name: "Media"
    icon: "fas fa-film"
    items:
      - name: "Overseerr"
        logo: "assets/logos/overseerr.png"
        url: "http://{{ inventory_hostname }}:5055/"

      - name: "Plex"
        logo: "assets/logos/plex.png"
        url: "http://{{ inventory_hostname }}:32400/web/index.html"

      - name: "Jellyfin"
        logo: "assets/logos/jellyfin.png"
        url: "http://{{ inventory_hostname }}:8096/web/index.html#!/home.html"
        type: "Emby"
        libraryType: "movies"

      - name: "Sonarr"
        logo: "assets/logos/sonarr.png"
        url: "http://{{ inventory_hostname }}:8989/"
        type: "Sonarr"

      - name: "Radarr"
        logo: "assets/logos/radarr.png"
        url: "http://{{ inventory_hostname }}:7878/"
        type: "Radarr"

      - name: "Bazarr"
        logo: "assets/logos/bazarr.png"
        url: "http://{{ inventory_hostname }}:6767/"

      - name: "Transmission"
        logo: "assets/logos/transmission.png"
        url: "http://{{ inventory_hostname }}:9091/transmission/web/"

      - name: "Prowlarr"
        logo: "assets/logos/prowlarr.png"
        url: "http://{{ inventory_hostname }}:9696/"
        type: "Prowlarr"

      - name: "Tdarr"
        logo: "assets/logos/tdarr.png"
        url: "http://{{ inventory_hostname }}:8265/"
        type: "Tdarr"
        checkInterval: 5000 # (in ms)

  {% endif %}
