- name: Install python-psutil package
  package:
    name: python3-psutil
    state: latest

- name: Copy wallpaper file
  become_user: "{{ username }}"
  copy:
    src: "{{ gnome_wallpaper }}"
    dest: "/home/{{ username }}/Pictures/{{ gnome_wallpaper }}"
    owner: "{{ username }}"
    group: "{{ username }}"
    # Note: this has to be a string, not an int!!
    mode: '660'

- name: Set GNOME wallpaper
  become_user: "{{ username }}"
  community.general.dconf:
    key: "/org/gnome/desktop/background/picture-uri"
    value: "'file:///home/{{ username }}/Pictures/{{ gnome_wallpaper }}'"

- name: Set GNOME pinned apps
  become_user: "{{ username }}"
  community.general.dconf:
    key: "/org/gnome/shell/favorite-apps"
    value: "['{{ gnome_pinned_apps | join(\"','\") }}']"

- name: Add 'enabled' to all GNOME extension parameters
  set_fact:
    gnome_extensions: "{{ gnome_extensions + [item | combine({'enable': true})] }}"
  loop: "{{ gnome_extensions }}"

# https://galaxy.ansible.com/petermosmans/customize-gnome
- name: Install GNOME extensions
  include_role:
    name: petermosmans.customize-gnome
  vars:
    gnome_user: "{{ username }}"

- name: Set GNOME extension settings
  become_user: "{{ username }}"
  community.general.dconf:
    key: "/org/gnome/shell/extensions/{{ item.key }}"
    value: "{{ item.value | string }}"
  loop: "{{ gnome_extension_settings }}"

- name: Set GNOME prefs/tweaks settings
  community.general.dconf:
    key: "{{item.key | string }}"
    value: "{{ item.value | string }}"
  loop: "{{ gnome_preferences_settings }}"