[Unit]
Description=rclone for gdrive <-> obsidian sync
AssertPathIsDirectory="{{ obsidian_vault_dir }}"
After=networking.service

[Service]
Type=simple
ExecStart=rclone bisync --config "{{ rclone_config_dir }}/rclone.conf" \
	--workdir "{{ rclone_cache_dir }}/bisync" \
	--cache-dir "{{ rclone_cache_dir }}" \
	--verbose --check-access --check-sync true --ignore-checksum \
	gdrive-obsidian: \
	"{{ obsidian_vault_dir }}"
Restart=always
RestartSec={{ rclone_sync_interval}}

[Install]
WantedBy=default.target
