{
    "TCP": {
      "443": {
        "HTTPS": true
      }
    },
    "Web": {
      "${TS_CERT_DOMAIN}:443": {
        "Handlers": {
          "/": {
            "Proxy": "http://{{ nextcloud_apache_info }}:11000"
          }
        }
      },
      "{{ nextcloud_tailscale_cf_cname.src }}:443": {
        "Handlers": {
          "/": {
            "Proxy": "http://{{ nextcloud_apache_info }}:11000"
          }
        }
      }
    },
    "AllowFunnel": {
      "${TS_CERT_DOMAIN}:443": {{ 'true' if nextcloud_is_public else 'false' }}
    }
  }
