- name: Create Jellyfin directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '755'
  loop:
    - "{{ docker_container_dir }}/jellyfin/config"
    - "{{ docker_container_dir }}/jellyfin/cache"
    - "{{ media_container_root_dir }}"

- set_fact:
    jellyfin_ports: "{{ (item.ports) if item.network != 'container:wireguard' else [] }}"
    jellyfin_network: "{{ item.network }}"
  loop: "{{ media_container_state | community.general.json_query(_query) }}"
  vars:
    _query: "[?name=='jellyfin']"

- name: Install and start Jellyfin through Docker
  community.docker.docker_container:
    name: jellyfin
    image: jellyfin/jellyfin
    state: started
    pull: true
    cleanup: false
    detach: true
    restart_policy: unless-stopped
    network_mode: "{{ jellyfin_network }}"
    ports: "{{ jellyfin_ports }}"
    env:
      TZ: "{{ time_zone }}"
      PUID: "{{ username_uid }}"
      PGUID: "{{ username_guid }}"
    devices:
      - "/dev/dri/:/dev/dri/"
    volumes:
      - "{{ docker_container_dir }}/jellyfin/config:/config"
      - "{{ docker_container_dir }}/jellyfin/cache:/cache"
      - "{{ media_container_root_dir }}:/media"
      - "{{ docker_container_dir }}/common:/common"
    command: >-
      {{
        "sh /common/vpn_routes_startup.sh"
        if ( jellyfin_network == 'container:wireguard' )
        else ""
      }}
