- name: Create Plex directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '755'
  loop:
    - "{{ docker_container_dir }}/plex/config"
    - "{{ docker_container_dir }}/plex/transcode"
    - "{{ media_container_root_dir }}"

- set_fact:
    plex_ports: "{{ (item.ports) if item.network != 'container:wireguard' else [] }}"
    plex_network: "{{ item.network }}"
  loop: "{{ media_container_state | community.general.json_query(_query) }}"
  vars:
    _query: "[?name=='plex']"

- name: Install and start Plex through Docker
  community.docker.docker_container:
    name: plex
    image: plexinc/pms-docker
    state: started
    pull: true
    cleanup: false
    detach: true
    restart_policy: unless-stopped
    network_mode: "{{ plex_network }}"
    ports: "{{ plex_ports }}"
    env:
      TZ: "{{ time_zone }}"
      PLEX_UID: "{{ username_uid }}"
      PLEX_GID: "{{ username_guid }}"
    volumes:
      - "{{ docker_container_dir }}/plex/config:/config"
      - "{{ docker_container_dir }}/plex/transcode:/transcode"
      - "{{ media_container_root_dir }}:/data"
      - "{{ docker_container_dir }}/common:/common"
