- name: Create Radarr directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '755'
  loop:
    - "{{ docker_container_dir }}/radarr/config"
    - "{{ media_container_root_dir }}"

- set_fact:
    radarr_ports: "{{ (item.ports) if item.network != 'container:wireguard' else [] }}"
    radarr_network: "{{ item.network }}"
  loop: "{{ media_container_state | community.general.json_query(_query) }}"
  vars:
    _query: "[?name=='radarr']"

- name: Install and start Radarr through Docker
  community.docker.docker_container:
    name: radarr
    image: hotio/radarr
    state: started
    pull: true
    cleanup: false
    detach: true
    restart_policy: unless-stopped
    network_mode: "{{ radarr_network }}"
    ports: "{{ radarr_ports }}"
    env:
      TZ: "{{ time_zone }}"
      PUID: "{{ username_uid }}"
      PGID: "{{ username_guid }}"
    volumes:
      - "{{ docker_container_dir }}/radarr/config:/config"
      - "{{ media_container_root_dir }}:/data"
      - "{{ docker_container_dir }}/common:/common"
