- name: Create Sonarr directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '755'
  loop:
    - "{{ docker_container_dir }}/sonarr/config"
    - "{{ media_container_root_dir }}"

- set_fact:
    sonarr_ports: "{{ (item.ports) if item.network != 'container:wireguard' else [] }}"
    sonarr_network: "{{ item.network }}"
  loop: "{{ media_container_state | community.general.json_query(_query) }}"
  vars:
    _query: "[?name=='sonarr']"

- name: Install and start Sonarr through Docker
  community.docker.docker_container:
    name: sonarr
    image: hotio/sonarr
    state: started
    pull: true
    cleanup: false
    detach: true
    restart_policy: unless-stopped
    network_mode: "{{ sonarr_network }}"
    ports: "{{ sonarr_ports }}"
    env:
      TZ: "{{ time_zone }}"
      PUID: "{{ username_uid }}"
      PGID: "{{ username_guid }}"
    volumes:
      - "{{ docker_container_dir }}/sonarr/config:/config"
      - "{{ media_container_root_dir }}:/data"
      - "{{ docker_container_dir }}/common:/common"
