- name: Create Transmission directories
  file:
    path: "{{ item }}"
    state: directory
    owner: "{{ username }}"
    group: "{{ username }}"
    mode: '755'
  loop:
    - "{{ docker_container_dir }}/transmission/config"
    - "{{ media_container_root_dir }}"

- set_fact:
    transmission_ports: "{{ (item.ports) if item.network != 'container:wireguard' else [] }}"
    transmission_network: "{{ item.network }}"
  loop: "{{ media_container_state | community.general.json_query(_query) }}"
  vars:
    _query: "[?name=='transmission']"

- name: Install and start Transmission through Docker
  community.docker.docker_container:
    name: transmission
    image: linuxserver/transmission
    state: started
    pull: true
    cleanup: false
    detach: true
    restart_policy: unless-stopped
    network_mode: "{{ transmission_network }}"
    ports: "{{ transmission_ports }}"
    env:
      TZ: "{{ time_zone }}"
      PUID: "{{ username_uid }}"
      PGID: "{{ username_guid }}"
    volumes:
      - "{{ docker_container_dir }}/transmission/config:/config"
      - "{{ media_container_root_dir }}/torrents:/downloads"
      - "{{ docker_container_dir }}/common:/common"
    command: >-
      {{
        "sh /common/vpn_routes_startup.sh"
        if ( transmission_network == 'container:wireguard' )
        else ""
      }}
