[Unit]
Description=Minecraft Server
After=network.target

[Service]
User=minecraft
Nice=1
SuccessExitStatus=0 1
WorkingDirectory=/srv/minecraft
ExecStart=/srv/minecraft/start.sh
ExecStop=/srv/minecraft/stop.sh

[Install]
WantedBy=multi-user.target
