difficulty={{ minecraft_difficulty }}
enable-command-block=true
enable-rcon=true
enforce-whitelist={{ minecraft_use_allowlist }}
gamemode=survival
initial-enabled-packs=vanilla,fabric
level-name={{ minecraft_world_name }}
level-seed={{ minecraft_seed }}
max-players=10
motd={{ minecraft_motd }}
query.port=25565
rcon.password={{ mcrcon_pass }}
rcon.port=25575
server-port=25565
simulation-distance=10
spawn-protection=16
view-distance=12
white-list={{ minecraft_use_allowlist }}
