[Unit]
Description=Minecraft Server backups
After=network.target

[Service]
User={{ minecraft_user }}
WorkingDirectory={{ minecraft_dir }}
ExecStart={{ minecraft_dir }}/backup.sh

[Install]
WantedBy=multi-user.target
