global:
  scrape_interval: 15s

scrape_configs:

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
      
  - job_name: 'node-exporter'
    basic_auth:
      username: prometheus
      password: {{ node_exporter_pass }}
    static_configs:
      - targets: {{ prometheus_targets }}
