ip route del default
ip route add default via {{ wireguard_container_ip }}

# lan
ip route add 192.168.0.0/16 via {{ wireguard_local_gateway }}
ip route add 10.0.0.0/8 via {{ wireguard_local_gateway }}
ip route add 172.16.0.0/12 via {{ wireguard_local_gateway }}

# tailscale
ip route add 100.64.0.0/10 via {{ wireguard_local_gateway }}

echo "IP routes configured. Sleeping to run container in background."
sleep infinity
